.fill_height {
	height: 100%;
}

body { 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 16px; 
	line-height: 1.5; 
	font-weight: 300; 
	color: #111; 
	background-color: #fdfdfd; 
	-webkit-text-size-adjust: 100%; 
}

.jumbotron {
	background-image: url(/images/pcm_mtcars_kde.png);
	background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}