---
---

{% include header.html %}

<div class="jumbotron">
	
</div>
<div class="container-fluid">
        <h2>Welcome to parallelcoordinates.de</h2>
<p>This website is dedicated to parallel coordinates, a visualization technique for multidimensional geometry.
Learn about the theory and applications of parallel coordinates, or
interactively explore parallel coordinates with your own data.
</p>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h2>Blog</h2>
            <p>
            The blog features various topics around all aspects of parallel coordinates and multidimensional data visualization. I am planning to primarily add posts that will be useful for teaching, and include interactive examples and pointers to the literature where applicable.</p>
            <p><a href="{{site.baseurl}}/blog/" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
        <div class="col-sm-6">
            <h2>PACO</h2>
            <p>PACO is an interactive, web-based application that allows you try out some of the concepts covered in the blog and to use parallel coordinates with your own data. Be warned that this is work in progress, so be prepared for bugs and check back frequently for improved versions.</p>
            <p><a href="{{site.baseurl}}/paco/" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
    </div>
</div>
{% include footer.html %}