---
---

{% include header.html %}

<div class="jumbotron">
	<div class="container-fluid">
		<h2>Welcome to parallelcoordinates.de</h2>
<p>This page is dedicated to parallel coordinates and its applications. Parallel coordinates is a visualization technique for multidimensional geometry, i.e. it allows you to visualize geometry beyond three dimensions.</p>
<p>
On this page, you can learn about the theory and applications of parallel coordinates.
PACO, the parallel-coordinates app, allows you to interactively explore parallel coordinates with your own data.
	</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h2>Tutorial</h2>
            <p>The tutorial covers a range of topics about parallel coordinates, from basic concepts such as the point-line duality to advanced topics like kernel-density estimates. It is intended to complement the latest book about Parallel Coordinates by Alfred Inselberg with interactive examples and pointers to the literature in data visualization. Be aware that the tutorial is work in progress, so make sure to check back frequently if you can't find what you're looking for right now.</p>
            <p><a href="{{site.baseurl}}/tutorial/" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
        <div class="col-sm-6">
            <h2>PACO</h2>
            <p>PACO is an interactive, web-based application that allows you try out some of the concepts covered in the tutorial and to use parallel coordinates with your own data. As with the tutorial, paco is work in progress, so be prepared for bugs and check back frequently for improved versions.</p>
            <p><a href="{{site.baseurl}}/paco/" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
    </div>
</div>
{% include footer.html %}